<!DOCTYPE html>
<html lang="ja">

 <head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel = "stylesheet" href = "../static/css/img_style.css">
	<link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
	<link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
	<title>ISDLMAP</title>
 </head>
 <body>
	<header id="header">
        <h1 class="text">ISDLMAP</h1>
        <nav>
          <ul>
            <li><a href="index.html">Change your character</a></li>
          </ul>
        </nav>
    </header> 
    <div class="parent">
		<aside class="aside1"></aside>
		<main>
			<section id="ISDLmap" align="center">
				<!--<div class="ISDLmap-img fixed-bg">
					<h2 class="sec-title">ISDL MAP</h2>
				</div>-->
				<div style="text-align: center;">
					<script type="text/javascript">
						let list_data = {{ g_new | tojson }};
					</script>
					<table align="center" id = 'map'>
						<script type="text/javascript" src = "../static/js/test.js"></script>	
					</table>
				</div>
			</section>
			<!--
			<section id="LA">
				<div class="LA-img fixed-bg">
					<h2 class="sec-title">LA</h2>
				</div>
				<img class="chara" src="../static/img/character1.png">
				<div class="balloon1-left">
					<p>おはようございます．</p>
					<p>本日，6月13日（月）のLAは関口です．</p>
					<p>次回，6月15日（水）のLAは西林です．</p>
					<p>本日の行事はありません．</p>
					<p>本日の豆知識</p>
					<p>-------------------------------------------------------</p>
				</div>
			</section>
			<section id="conference">
				<div class="conference-img fixed-bg">
					<h2 class="sec-title">全体ゼミ</h2>
				</div>
			</section>
		    -->
		</main>
		<aside class="aside2"></aside>
	</div>
   <footer id="footer">

   </footer>
 </body>
</html>